@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #51a8b1;
}

.navbar-brand {
  color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
}

.container1 {
  padding-right: 50px;
}

.navbar-nav .nav-link:hover {
  color: #000000;
  background-color: #c4c4c4;
  border-radius: 5px;
}
