@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

body {
  font-family: "poppins", sans-serif;
}

.bg {
  background-color: #51a8b1;
}

#menu .nav-link {
  color: white; /* Warna font putih */
}

#menu .nav-link:hover {
  background-color: #c4c4c4;
  color: rgb(45, 45, 45);
}
