@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.container-btn {
  text-align: right; /* Tombol login berada di ujung kanan */
  margin-bottom: 10px; /* Memberikan margin di bawah container-btn */
}

.container-btn .btn-logout {
  background-color: #51a8b1;
  font-family: "Poppins", sans-serif;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  padding: 8px;
}

.container-btn-add {
  text-align: right; /* Tombol login berada di ujung kanan */
  margin-bottom: 10px; /* Memberikan margin di bawah container-btn */
}
.container-btn-add .btn-add {
  width: 80px;
  height: auto;
  background-color: #1ac87e;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  padding: 3px;
}

/* CSS untuk mengatur tata letak dan warna teks pada tabel */
.container-user table {
  text-align: center; /* Teks di tengah pada seluruh tabel */
}

.container-user th,
.container-user td {
  vertical-align: middle; /* Tengah secara vertikal pada seluruh sel th dan td */
}

/* CSS untuk warna tombol Edit dan Delete */
.btn-edit {
  background-color: #34a7ae; /* Warna latar belakang tombol Edit */
  color: #fff; /* Warna teks tombol Edit */
  border: none; /* Menghilangkan border tombol */
  padding: 5px 10px; /* Padding pada tombol Edit */
  cursor: pointer; /* Mengubah kursor saat di atas tombol */
}

.btn-delete {
  background-color: #cf1d1d; /* Warna latar belakang tombol Delete */
  color: #fff; /* Warna teks tombol Delete */
  border: none; /* Menghilangkan border tombol */
  padding: 5px 10px; /* Padding pada tombol Delete */
  cursor: pointer; /* Mengubah kursor saat di atas tombol */
}

.btn-detail {
  background-color: #3b4dad; /* Warna latar belakang tombol Delete */
  color: #fff; /* Warna teks tombol Delete */
  border: none; /* Menghilangkan border tombol */
  padding: 5px 10px; /* Padding pada tombol Delete */
  cursor: pointer;
}
.btn-edit,
.btn-delete,
.btn-detail {
  border-radius: 4px;
}
