@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

body {
  font-family: "poppins", sans-serif;
}

.sidebar {
  position: fixed;
  height: 100vh;
  background-color: #51a8b1;
  color: #fff;
  padding-top: 20px;
}

.sidebar-logo {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-logo h5 {
  padding: 10px;
  margin: 0; /* Remove default margin for h5 */
}

.sidebar-logo img {
  width: 50px; /* Ubah sesuai kebutuhan */
  height: auto;
}

.sidebar-menu {
  margin-top: 50px;
  list-style-type: none;
  padding: 3px;
  font-size: 15px;
}

.sidebar-menu li {
  margin-bottom: 25px;
}

.sidebar-menu a {
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  padding: 5px 10px;
  transition: background-color 0.3s, border 0.3s;
}

.sidebar-menu img {
  padding: 7px;
  width: 30px;
  height: auto;
}

.sidebar-menu a:hover {
  background-color: #bdbdbd;
  border: 2px solid #bdbdbd;
}
